.pt-button {
    background-color: var(--buttonBG);
    color: var(--buttonFG);
    cursor: pointer;

    text-align: center;

    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;

    box-shadow: 0 0 0 rgb(0, 0, 0, 0.8);

    --buttonBG: var(--primary);
    --buttonFG: var(--secondary);

    transition: transform 0.125s ease, box-shadow 0.125s ease;

    &:hover {
        transform: translate(0, -0.25rem) scale(1.01);
        box-shadow: 0 0.25rem 0.1em rgb(0, 0, 0, 0.8);

        &.nohover {
            transform: translate(0, 0) scale(1);
            box-shadow: 0 0 0 rgb(0, 0, 0, 0.8);
        }
    }

    &:active {
        transform: translate(0, 0) scale(1);
        box-shadow: 0 0 0 rgb(0, 0, 0, 0.8);
        transition: transform 0.025s ease, box-shadow 0.025s ease;
    }
}
